<div class="filter">
	<mat-form-field appearance="outline">
		<mat-label>Género</mat-label>
		<mat-select>
			<mat-option *ngFor="let genre of listGenres" [value]="genre.id"> {{ genre.name }} </mat-option>
		</mat-select>
	</mat-form-field>

	<h4>Selecciona tu género musical favorito</h4>
</div>

<div class="cards">
	<app-card-event
		*ngFor="let concerts of listConcerts"
		[event]="concerts"
		(clickCard)="clickCard($event)"
	></app-card-event>

	<!-- <app-card-event #cardDummy (clickCard)="clickCard($event)"></app-card-event> -->
</div>
