<div class="content">
	<form class="content__form flex-column" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="changePasswordUser()">
		<mat-form-field appearance="outline">
			<mat-label>Contraseña anterior</mat-label>
			<input matInput type="text" formControlName="oldPassword" />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Nueva contraseña</mat-label>
			<input matInput type="text" formControlName="newPassword" />
		</mat-form-field>

		<button mat-raised-button color="primary">GUARDAR</button>
	</form>
</div>
